html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --background: rgba(240, 230, 140, 1);
  --background-faded: rgba(250, 250, 210, 1);
  --header-background: rgba(255, 215, 0, 1);
  --header-background-faded: rgba(255, 215, 0, 0.6);
  --text-color: ghostwhite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
