.container {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-image: linear-gradient(to right, tomato, rgba(255, 0, 0, 0.6));
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.title {
    color: ghostwhite;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}