.container {
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(var(--background), var(--background-faded));
    min-height: 100vh;
    gap: 1vh;
    align-items: center;
    overflow-y: hidden;
}